# Housekeeping

* Project pairs will be in Courseworks by tomorrow morning. If you don't have a partner, you'll have one by tomorrow. One group might have 3 people!
* Final exam: **Monday Dec 19th 7:10pm - 10pm in Schemerhorn 614**. I will post a practice exam in the next week or two.
* Final project: see update in the [project doc](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#) under "Datasets" about how to handle the `shp` file (if you were having issues loading it)

# Module 09 - Relational Databases and SQL

Like regular expressions, relational databases can be used both from within Python as well as within other programs. Focus on learning the SQL language which we'll be executing from within Python in order to make use of the notebook environment, but we'll see examples of doing so externally as well.

You are undoubtedly familiar with spreadsheets, likely via Microsoft Excel, Google Sheets or Apple's Numbers app as a way of organizing tables of related data -- a spreadsheet often contains columns which are "attributes" or individual kinds of data we want to store about one or more rows, which represent each individual entry. A program like Excel then allows us to compute, lookup or use values from this table.

As an example:

|Name            |Phone         |Phone Type|Phone 2       |Phone 2 Type|Email              |
|----------------|--------------|----------|--------------|------------|-------------------|
|Peter Parker    |(212) 555-1212|Home      |(917) 555-0101|Mobile      |peter@example.edu   |
|Claire Boyle    |+34987793816  |Home      |              |            |claireb@example.com|
|Sonia Winters   |7185550404    |Mobile    |              |            |swinters@example.edu   |
|Fallon Wilkes   |+12125550505  |Mobile    |              |            |fallon@example.com    |
|Henry Douglas   |              |          |              |            |henryd@example.edu   |
|Danny Reese     |              |          |              |            |                   |

Here we see some contacts we may want to keep track of. For each contact we have possibly some phone numbers, and an email address. For some contacts we have only partial data, as we potentially would normally if we didn't know someone's full details (or if they didn't have multiple phone numbers).

A spreadsheet (or Excel/Sheets specifically) is often a great tool for doing this quickly and easily in a shareable way -- but we can outgrow them if:

* we have large (hundreds of thousands, millions, or more) numbers of rows
* we have large numbers of people simultaneously editing or reading our data
* we want to apply more powerful programming language techniques available to us from Python to our dataset
* we want to more effectively represent the _structure_ of our data

Here are some examples of structure inherent (but perhaps not well represented) in our above example:

* What happens if someone has more than 2 phone numbers? Where will we store these additional data?
* What happens if someone has more than one email address?
* Is there any implied meaning in the 2 phone number columns? If someone has only one phone number, will it always be in the first phone number columns?

---

### Why not Excel?

Excel (and related apps) are not powerful enough if any of the following apply:

* You have a significant amount lot of entries (rows) – in the 100s of thousands or more
* You have many people needing to read and/or write data simultaneously
* You want to read and/or manipulate data using a programming language, like Python or SQL
* You want to represent the _structure_ of your data more effectively, for example:
    * Some contacts have 3+ phone numbers?
    * Some contacts have 2+ email addresses?
    * What does it mean for someone to have more than one phone number? Is one work and another home? Does that apply to everyone with more than one phone number?
    
---

Beyond the questions above which relate to the _representation_ of our data, so far we have strictly dealt with _in-memory_ or transient objects (for instance in the context of our Object Oriented Programming module) -- meaning, we know how to model our data as objects, but we never saved them anywhere so that they "live" beyond the current run of our program. Any real address book should allow us to _durably and reliably store and retrieve entries_ even if our Python program exits. We also may want multiple people to simultaneously be able to query, insert, or retrieve contacts at the same time as above.

Databases are essentially the most common ways to address some of the above, and relational databases in particular are tried and true pieces of technology for modeling _relationships_ between different entities in a reliable and efficient way.

## 9.1 Databases

### What is a database

A database is an application for storing and retrieving data. Although the "hows" can differ, most types databases provide a mechanism that allows users to add, delete, access, search, and manage their data. 

As an alternative to using a database, data can be stored in text files or hash tables. However, this technique is not as fast or as convenient as using a database and is rarely used in modern systems.

A database is a collection of information stored within a computer. Databases are used for everything from storing pictures on your computer to buying items online and analyzing the stock market. Databases allow computers to store essential information in an organized and easily searchable way.

There are a few different types of databases, but the one that we care about – and one of the most popular/often-used – is what's called the _relational_ database. 

A relational database allows us to store data in multiple _tables_, rather just one big table with lots of columns describing our data.

When we create a database, we organize data in terms of tables, columns, and rows. A row is also referred to as a record, or tuple.

### Vocab: **DBMS** - Database Management System

A **DBMS** is the actual software that interacts with end users, applications, and the database itself to capture and analyze the data.

Often, the term **database** is used loosely/interchangeably with **database management system**. However, **database** is also used to refer to an actual **database instance** of stored data. _(It's as if the term "Excel" was used for both the software and an actual individual spreadsheet.)_


Types of DBMSs: SQLite, MySQL, PostgreSQL (often pronounced "postgres"), Microsoft SQL Server, and others. 


### Vocab: **Table**

A **table** is a collection of related data stored in a table format, also referred to as a **relation**. Very similar to an individual tab/spreadsheet in a spreadsheet document. A database is a collection of tables, similar to an Excel document is a collection of spreadsheets.

Our initial example above would be considered a table.

### Vocab: **Row**

Within a table, there are **rows**, also referred to as a **record** or a **tuple**. A row is a dataset representing a single item. Much like a row in a spreadsheet.

With our initial example, a row would be `("Peter Parker", "(212) 555-1212", "Home", "(917) 555-0101", "Mobile", "peter@example.edu")`.

### Vocab: **Column**

Within a table, there are **columns**, also referred to as a **field** or an **attribute**. A column is a labeled element of a row. Much like a column in a spreadsheet.

With our initial example, a column would be the `name`, or the `phone` number or `email address` of our contacts.

### Visual: Table, Rows, Columns

![](https://miro.medium.com/max/736/0*kBYg1f1lVSFE5cY6.PNG)

### Vocab: **Schema**

A **schema** describes the structure and organization of data in a database (or specifically a table). It's the blueprint.

The schema for our example above would be something like:

```sql
CREATE TABLE contacts (
    name TEXT,
    phone TEXT,
    phone_type TEXT,
    phone2 TEXT,
    phone2_type TEXT,
    email TEXT
)
```

A schema defines the table name, the column names, the data type associated with each column name (in our case, all text), and any primary and foreign keys.

### Vocab: **Relational**

A classification of a database management system is **relational** (**RDBMS**). An RDBMS is considered to be relational because it allows users to define relationships within and between the various tables using keys and indices.

### Vocab: **Primary Key**

Every table has a **primary key**. A **primary key** is a particular column in a table that uniquely specifies a record or a row within a table.

### Vocab: **Foreign Key**

A **foreign key** refers to a column or field in a table that matches the primary key column of another table. A foreign key creates a relationship between the two tables.

### Visual: Primary Key, Foreign Key, Relational

![](https://www.pragimtech.com/blog/contribute/article_images/2220211210231003/what-is-a-relational-database.jpg)

### Vocab: Database **Server** and **Client**

![](https://www.w3resource.com/w3r_images/sql-works-with-rdbms.gif)

A database has a **server** that "hosts" the database and its data. A server allows an outside **client** to interact with the data. Much like how we can interact with websites on some random server to download interesting data, a database has its own server that allows us to interact with data that may be hosted elsewhere. And we use a database client on our end to do the interacting.

## 9.2 The SQL Language

We've just started to learn the Python programming language, which we will return to in the next lecture. But working with data often requires some knowledge and comfort with another language, called SQL.

SQL (pronounced "sequel" or S.Q.L.) is what's referred to as a "domain-specific langauge" (instead of a general purpose language, like Python). It's designed for working with relational databases. SQL itself has been around for almost 50 years, and it might look a bit archaic. 

You don't need to know a lot of SQL for it to be useful to you. Especially when you can enhance it with the use of Python. With that, however, this lecture won't be able to cover _everything_ that will be helpful to know, particularly for the final project. At the bottom of the lecture notes, there are a few tips and links to point you in the right (exact) direction to help you out.

#### What are we using `SQL` for?

We're using `SQL` to actually interact with our relational database. We use it to create, define, modify, and delete our database tables, and those tables' schemas. We'll also use `SQL` to populate our tables with data, and then query our database to answer questions we have of our data.

#### Note! We're still using Python!

While we are learning SQL, we are using Python as a go-between for our SQL code and our database.

Let's get started!

### 9.2.1 Creating a Database

We're going to dive right in with first creating our own database, add data to our database, and then query it

We're using Python's `sqlite3` module (often verbally said like "sequel-light", without the `3` at the end), then we create a database simply by creating a connection to it:

In [1]:
import sqlite3
connection = sqlite3.connect("contacts.db")
connection

The `connect` function call creates an actual database - it's a file on your filesystem. After executing the above, you should be able to see it next to wherever you're running your lecture notes.

To show you, you can run the following code to see a list of your current working directory, with `contacts.db` among the items:

In [2]:
import os

os.listdir(os.getcwd())

['.DS_Store',
 '09 - Lecture.ipynb',
 'contacts.db',
 '.ipynb_checkpoints',
 '09 - Relational Databases & SQL .ipynb']

### 9.2.2 Creating Tables
We're now going to create our first _table_ in our database -- we've noted above that storing phone numbers in separate columns alongside each contact is a bit inflexible. It makes it hard to guess how many columns we'll need, or to rely on which column contains the data we want.

Let's first focus on the columns or attributes we know we want on every contact -- their name and email. We'll come back to phone numbers shortly.

Here's our first piece of SQL below, which will create a database _table_ for representing our contacts.


_Note: We typically write SQL using UPPERCASE LETTERS for the language's keywords, and lowercase letters for our arguments, like a table name, column name, etc._

_Note: Whitespace and case-sensitivity is generally not an issue in SQL._

In [3]:
# use a Python string to define a sql statement
SQL_STMT = """
CREATE TABLE IF NOT EXISTS contacts
(
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT
)
"""

In [4]:
# then execute the statement:
with connection:
    connection.execute(SQL_STMT)

There's a lot to unpack in the statement we just ran.

First, on the Python side, we are using the `sqlite3.Connection.execute` method which executes SQL on our database. We'll continue to use it throughout this notebook. It executes _one_ SQL statement at a time.

The `CREATE TABLE` SQL statement is how one creates tables, and is often run once by a database administrator. Other database users then will make use of these tables after they are created. In the Excel analogy alluded to above, a table is somewhat like an individual spreadsheet.

When creating a table we specify a **schema** for the table -- the schema consists of:

* which columns we want the table to have (which correspond here to what values we want for each contact)
* what types each of the columns have (for SQLite the types we can use are [here](https://www.sqlite.org/datatype3.html))
* any columns which are somehow special -- in the above, we have a column which is a _primary key_ -- this acts as a sort of unique identifier for the row in our database. In Excel this might always be a row number in the spreadsheet, but in a database you'll see we have more flexibility to _use_ these key values, and they don't change like a row number might if we reordered the row.

_Note: the complete contents of the above `SQL_STMT` is what's considered a table's schema. Being able to write these schemas will be useful for the final project._

### 9.2.3 Inserting Data

Let's see how we use this new table by inserting some of the data above into our database:

In [5]:
# we could extract the SQL statement into a Python string, too

with connection:
    result = connection.execute(
        """
        INSERT INTO contacts (name, email)
        VALUES
            ("Peter Parker", "peter@example.edu")
        """
    )
    
    # The "row count" is how many rows our query affected
    print(result.rowcount)

1

Notice we didn't need to specify a value for the `id` column ourselves -- the database (`sqlite`) has done so for us, assigning an incrementing integer to each row.

#### Consider
What might assigning a permanent ID for a contact be good for?

### 9.2.4 Querying
Retrieving back this row from the database is done via the `SELECT` SQL statement -- undoubtedly the most common and critical statement to learn and use well!

We `SELECT` a set of rows we want to see by writing a _query_ which indicates which rows we care about, and which columns of the result we wish to see.

In [6]:
with connection:
    result = connection.execute("SELECT * FROM contacts")

# we get back an *iterable of tuples*, one for each row
for row in result:
    print(row)

(1, 'Peter Parker', 'peter@example.edu')

The `*` in the above query represents "all columns". 

The resulting rows that we received is called a **result table** or **result set**. Our result table here only has one row of data.

Instead of grabbing all columns, we can instead list some explicit columns if we'd like. Here perhaps is how we'd get a list of our (one) contact name:

In [7]:
with connection:
    result = connection.execute("SELECT name FROM contacts")

for name, in result:
    print(name)

Peter Parker

**When would we query for select columns, rather than just grab all the columns?** While it may be easiest to just `SELECT * FROM ...`, it can be a really expensive query to run. Maybe your table has 100s of columns, but you only actually need 3 of those columns. Maybe you have millions and millions of rows, and only need 3 columns, you'd have asked for a lot more data when not limiting to only the columns you need. 

Often times, you'll run a `SELECT *` query to get familiar with a new database. When you do this, add a `LIMIT 10` or `LIMIT 100` (or some other small number) to limit the amount of data being returned. More on limiting [below](#Limiting).

When we wrote our SQL above, we "hard-coded" a value into the SQL query we ran -- specifically the name and email we wanted to insert. Much more often we'll have a value we want to insert that comes from a Python object -- one that we retrieved from somewhere else, calculated or otherwise constructed. We can do that by providing _placeholders_ to the SQL query we run. Here's how to do so with `INSERT`, once again inserting Peter into our database:

In [8]:
name = " ".join(["Peter", "Parker"])
email = "@".join(["peter", "example.edu"])

with connection:
    result = connection.execute(
        "INSERT INTO contacts (name, email) VALUES (?, ?)",
        (name, email),
    )

Note that what we've done in this notebook, unlike previous examples, is _persistent_ -- even if you restart the Jupyter "kernel", or your whole computer, the data we've saved above is present in the database and will be accessible or readable to us.

In [9]:
# just to show how many entries we have now
with connection:
    result = connection.execute("SELECT * FROM contacts")

# we get back an *iterable of tuples*, one for each row
for row in result:
    print(row)

(1, 'Peter Parker', 'peter@example.edu')
(2, 'Peter Parker', 'peter@example.edu')

If you've tried the above multiple times, you may now find you have multiple records for the same contact, so let's learn how to delete records. We do so using the `DELETE` SQL statement, one you should undoubtedly be very careful with! Some of the biggest mistakes one can make in practice are often cases where you `DELETE` more rows than you thought you were affecting. Confirming your queries with `SELECT` is the most basic way to ensure this does not happen to you.

If we for instance wish to drop all rows named `"Peter Parker"` besides the first one, we might do so by dropping rows with `id != 1` -- let's first use `SELECT` with a new `WHERE` clause to confirm that gives us the rows we want:

In [10]:
QUERY = """
SELECT * 
FROM contacts 
WHERE 
    name = 'Peter Parker' 
    AND id != 1
"""

with connection:
    result = connection.execute(QUERY)

for row in result:
    print(row)

(2, 'Peter Parker', 'peter@example.edu')

If the above looks good, we can drop those rows to remove them from the table:

In [11]:
# Note that the syntax is just DELETE FROM, 
# not DELETE * FROM -- we delete whole rows always

DELETE_EXP = """
DELETE FROM contacts 
WHERE 
    name = 'Peter Parker' 
    AND id != 1
"""

with connection:  
    result = connection.execute(DELETE_EXP)

print(result.rowcount)

1

We can now confirm we have just one remaining row:

In [12]:
with connection:
    result = connection.execute(
        "SELECT * FROM contacts WHERE name = 'Peter Parker'"
    )

for row in result:
    print(row)

(1, 'Peter Parker', 'peter@example.edu')

Running our `DELETE` expression again will has no effect (will have no rows in the result):

In [13]:
with connection:
    result = connection.execute(DELETE_EXP)

print(result.rowcount)

0

Let's insert the rest of the data in our example table above. We can do that quickly for multiple rows using the `executemany` [method](https://docs.python.org/3/library/sqlite3.html#sqlite3.Connection.executemany) on our connection to insert multiple rows at once:

In [14]:
contact_list = [
    ("Claire Boyle", "claireb@example.com"),
    ("Sonia Winters", "swinters@example.edu"),
    ("Fallon Wilkes", "fallon@example.com"),
    ("Henry Douglas", "henryd@example.edu"),
    ("Danny Reese", None),
]

INSERT_EXP = """
INSERT INTO contacts (name, email)
VALUES (?, ?)
"""

with connection:
    result = connection.executemany(
        INSERT_EXP, contact_list
    )
print(result.rowcount)

5

#### 9.2.4.1 More Filtering with `WHERE`

Notice in the above that for Danny, who has no known email, we use `None` to signal there's no value for the column -- in SQL, this will translate into a SQL value called `NULL` -- one which has very similar semantic meaning to `None` in Python.

We can check for contacts with no email via a query like:

In [21]:
with connection:
    result = connection.execute(
        "SELECT * FROM contacts WHERE email IS NULL"
    )

    for row in result:
        print(row)

(6, 'Danny Reese', None)

Like in Python, when comparing with `NULL`, you use a SQL operator called `IS` -- though unlike in Python, using `=` or `==` will _not_ work (i.e. will not compare correctly).

There are indeed many other filtering operations we can perform within a `WHERE` clause besides `=`, `IS NULL`, `!=` above. `LIKE` is an operator which is often useful for filtering string values.

Here's for instance how you'd filter out rows whose email addresses end in `.edu`:

In [22]:
with connection:
    result = connection.execute(
        "SELECT name, email FROM contacts WHERE email LIKE '%.edu'"
    )

for name, email in result:
    print(name, email)

Peter Parker peter@example.edu
Sonia Winters swinters@example.edu
Henry Douglas henryd@example.edu

The `%` in our `LIKE` is similar to using `.*` in a regular expression -- it will match any characters beforehand.

#### 9.2.4.2 Ordering
We also sometimes want to sort the results we get back. In a `SELECT` statement we can use a clause called `ORDER BY` to do so -- so if we'd like to retrieve our contacts in alphabetical order, we can do so via:

In [23]:
with connection:
    result = connection.execute("SELECT * FROM contacts ORDER BY name")

    for row in result:
        print(row)

(2, 'Claire Boyle', 'claireb@example.com')
(6, 'Danny Reese', None)
(4, 'Fallon Wilkes', 'fallon@example.com')
(5, 'Henry Douglas', 'henryd@example.edu')
(1, 'Peter Parker', 'peter@example.edu')
(3, 'Sonia Winters', 'swinters@example.edu')

where we can see we now have alphabetically ordered rows.

If we want them in reversed-alphabetical order, we can add `DESC` (for "descending") to the end of our query (`ASC` for "ascending" is the default):

In [24]:
with connection:
    result = connection.execute(
        "SELECT * FROM contacts ORDER BY name DESC"
    )

    for row in result:
        print(row)

(3, 'Sonia Winters', 'swinters@example.edu')
(1, 'Peter Parker', 'peter@example.edu')
(5, 'Henry Douglas', 'henryd@example.edu')
(4, 'Fallon Wilkes', 'fallon@example.com')
(6, 'Danny Reese', None)
(2, 'Claire Boyle', 'claireb@example.com')

We can also `ORDER BY` multiple columns:

In [25]:
with connection:
    result = connection.execute(
        "SELECT * FROM contacts ORDER BY name, email DESC"
    )

    for row in result:
        print(row)

(2, 'Claire Boyle', 'claireb@example.com')
(6, 'Danny Reese', None)
(4, 'Fallon Wilkes', 'fallon@example.com')
(5, 'Henry Douglas', 'henryd@example.edu')
(1, 'Peter Parker', 'peter@example.edu')
(3, 'Sonia Winters', 'swinters@example.edu')

#### 9.2.4.3 Limiting
Though our current examples return relatively few rows, it's often useful to know how to limit the number of rows returned by a query. We can do so using the `LIMIT` clause:

In [26]:
with connection:
    result = connection.execute("SELECT * FROM contacts LIMIT 3")

    for row in result:
        print(row)

(1, 'Peter Parker', 'peter@example.edu')
(2, 'Claire Boyle', 'claireb@example.com')
(3, 'Sonia Winters', 'swinters@example.edu')

The `LIMIT` will respect the `ORDER BY` of the query, so you can combine `LIMIT` with `ORDER BY` to get a limited number of queries within a certain order (as in, it will first order as told, then return only the `LIMIT` number):

In [27]:
with connection:
    result = connection.execute(
        "SELECT * FROM contacts ORDER BY email LIMIT 3"
    )

    for row in result:
        print(row)

(6, 'Danny Reese', None)
(2, 'Claire Boyle', 'claireb@example.com')
(4, 'Fallon Wilkes', 'fallon@example.com')

Note that the `LIMIT` clause should come at the end.

#### 9.2.4.4 Transforming Values
SQL's `SELECT` statement is not just useful for simple retrieval and filtering (via `WHERE`). It can also transform or even construct new columns:

In [29]:
with connection:
    result = connection.execute(
        """
        SELECT name,
               UPPER(name),
               "lowercase: " || LOWER(name)
        FROM contacts
        """
    )

for row in result:
    print(row)

('Peter Parker', 'PETER PARKER', 'lowercase: peter parker')
('Claire Boyle', 'CLAIRE BOYLE', 'lowercase: claire boyle')
('Sonia Winters', 'SONIA WINTERS', 'lowercase: sonia winters')
('Fallon Wilkes', 'FALLON WILKES', 'lowercase: fallon wilkes')
('Henry Douglas', 'HENRY DOUGLAS', 'lowercase: henry douglas')
('Danny Reese', 'DANNY REESE', 'lowercase: danny reese')

In the above we've used some built in SQL _functions_ -- similar concepts to Python functions. Specifically we've made use of an `UPPER` and `LOWER` function (as well as string concatenation) to transform our contact names.

I want to call out, we **have not added a new column** to the table:

In [30]:
with connection:
    result = connection.execute(
        """
        SELECT *
        FROM contacts
        """
    )

for row in result:
    print(row)

(1, 'Peter Parker', 'peter@example.edu')
(2, 'Claire Boyle', 'claireb@example.com')
(3, 'Sonia Winters', 'swinters@example.edu')
(4, 'Fallon Wilkes', 'fallon@example.com')
(5, 'Henry Douglas', 'henryd@example.edu')
(6, 'Danny Reese', None)

We've just produced a **result table** or **result set** of the table with our query that adds a column.

But we know how to do the same thing directly in Python as well:

In [31]:
with connection:
    result = connection.execute(
        """
        SELECT name
        FROM contacts
        """
    )

for name, in result:
    print((name, name.upper(), f"lowercase: {name.lower()}"))

('Peter Parker', 'PETER PARKER', 'lowercase: Peter Parker')
('Claire Boyle', 'CLAIRE BOYLE', 'lowercase: Claire Boyle')
('Sonia Winters', 'SONIA WINTERS', 'lowercase: Sonia Winters')
('Fallon Wilkes', 'FALLON WILKES', 'lowercase: Fallon Wilkes')
('Henry Douglas', 'HENRY DOUGLAS', 'lowercase: Henry Douglas')
('Danny Reese', 'DANNY REESE', 'lowercase: Danny Reese')

The result is of course the same.

Deciding whether to do a specific transformation can often be tricky or subjective. In many cases there are multiple ways to accomplish the same goal.

Some guidance is:

* do filtering and joining (discussed below) in the database often -- otherwise you often are sending data back and forth unnecessarily
* do simple transformations in the database only for trivial cases and if you know how to do so, otherwise do them afterwards in Python
* pick what looks most readable or understandable to you
* optimize slow transformations or queries later!

### 9.2.5 Relationships
Coming back to phone numbers, in a relational database, other than tables, the concept to be aware of is precisely the relationship -- we have here two nouns -- a contact or person, and that person **has** zero or more phone numbers. The word "has" in our description is often a hint we have a relationship between two different entities.

In [32]:
with connection:
    connection.execute(
        """
        CREATE TABLE IF NOT EXISTS phone_numbers
        (
            id INTEGER PRIMARY KEY,
            contact_id INTEGER,
            number TEXT,
            type TEXT,
            FOREIGN KEY(contact_id) REFERENCES contacts(id)
        )
        """
    )

With the above, we've told our database that in addition to the `contacts` table we created above, we intend to store a second table `phone_numbers`, which _relates_ to our contacts via what is known as a _foreign key_ -- this database terminology effectively means that rows in the phone number table will reference a specific row in the `contacts` table -- in essence, a phone number _belongs to_ or _relates_ to a specific single contact.

By separating out this relationship between contacts and their phone numbers we can actually now store 0 or more phone numbers for any contact we wish. Let's see how we insert phone numbers, which we can do for the contacts we've stored so far. Our first contact had two phone numbers -- to insert them we'll need their ID in the `contacts` table, because it's one of the columns in our phone number rows. We can get that value with a query, if we don't already know it.

In [33]:
with connection:
    row, = connection.execute(
        "SELECT id FROM contacts WHERE name = 'Peter Parker'"
    )
    contact_id, = row
    # notice we've now gotten this value in Python and can use it below!
    print(f"Peter's id: {contact_id}")
    connection.execute(
        """
        INSERT INTO phone_numbers(contact_id, number, type)
        VALUES (?, ?, ?)
        """,
        (contact_id, "(212) 555-1212", "Home"),
    )

Peter's id: 1

We can see we now have a phone number stored:

In [34]:
with connection:
    for row in connection.execute("SELECT * FROM phone_numbers"):
        print(row)

(1, 1, '(212) 555-1212', 'Home')

Notice it can be a bit difficult for us to even _remember_ what the columns mean in the above.

We can make it a bit easier on ourselves by using a bit of functionality in the Python `sqlite3` library which "upgrades" the tuples we get back when running a query into objects which remember things like the column names.

We do so by running (once, usually just after opening a connection):

In [35]:
connection.row_factory = sqlite3.Row

Once we've done so, we can now write:

In [36]:
with connection:
    rows = connection.execute(
        "SELECT * FROM phone_numbers"
    )
    for row in rows:
        print(f"({row['id']}): {row['number']}")

(1): (212) 555-1212

i.e. we can now treat rows as Python `dict`s.

Let's insert the rest of our phone numbers, similar to before, but now we want to do so for each corresponding entry by name -- it's tedious to have to manually look up each ID when we instead perhaps know the name of each contact. Luckily we can _nest_ SQL queries. Watch:

In [37]:
with connection:
    result = connection.executemany(
        """
        INSERT INTO phone_numbers (contact_id, number, type)
        VALUES (
          (SELECT id FROM contacts where name = ?),
          ?,
          ?
        )
        """, [
            ("Peter Parker", "(917) 555-0101", "Mobile"),
            ("Claire Boyle", "+34987793816", "Home"),
            ("Sonia Winters", "7185550404", "Mobile"),
            ("Fallon Wilkes", "+12125550505", "Mobile"),
        ]
    )

In [38]:
print(result.rowcount)

4

That seems to have worked! [*]

[*]: If it didn't, you may have run some of the cells above multiple times, creating multiple records for the same contact -- follow the `DELETE` statement a few cells up to clean up

How can we tell? It'd be nice if we could see a _joined_ table similar to the one we started with. Sure enough, SQL has a concept of a `JOIN` which joins two or more tables together. When we join tables together, we specify a column (or columns) to join _on_ -- in other words, we specify a value common between the two tables which will be used to glue corresponding records together. We can for instance query for all of Peter's phone numbers:

In [39]:
with connection:
    rows = connection.execute(
        """
        SELECT name, number
        FROM contacts
        JOIN phone_numbers ON contacts.id = phone_numbers.contact_id
        WHERE contacts.name = "Peter Parker"
        """
    )
    for row in rows:
        print(dict(row))

{'name': 'Peter Parker', 'number': '(212) 555-1212'}
{'name': 'Peter Parker', 'number': '(917) 555-0101'}

It's our `JOIN` that tells our database we want rows with matching contact ID.

We can look at all rows, rather than just Peter's, to get phone numbers for all contacts:

In [40]:
with connection:
    rows = connection.execute(
        """
        SELECT name, number
        FROM contacts
        JOIN phone_numbers ON contacts.id = phone_numbers.contact_id
        """
    )
    for row in rows:
        print(dict(row))

{'name': 'Peter Parker', 'number': '(212) 555-1212'}
{'name': 'Peter Parker', 'number': '(917) 555-0101'}
{'name': 'Claire Boyle', 'number': '+34987793816'}
{'name': 'Sonia Winters', 'number': '7185550404'}
{'name': 'Fallon Wilkes', 'number': '+12125550505'}

Notice that in the above queries, the name column comes from the `contacts` table, but the number column comes from the `phone_number` table.

When column names are unambiguous, we don't need to specify which table they come from.

If however we picked a column name which existed in multiple tables we were joining, we'd need to specify which one we meant to select.

For instance, this query will error out:

In [41]:
# raises an error
with connection:
    rows = connection.execute(
        """
        SELECT id, name, number
        FROM contacts
        JOIN phone_numbers ON contacts.id = phone_numbers.contact_id
        """
    )
    for row in rows:
        print(dict(row))

OperationalError: ambiguous column name: id

We need to be specific of _which_ table's `id` we're wanting:

In [42]:
with connection:
    rows = connection.execute(
        """
        SELECT contacts.id, name, number
        FROM contacts
        JOIN phone_numbers ON contacts.id = phone_numbers.contact_id
        """
    )
    for row in rows:
        print(dict(row))

{'id': 1, 'name': 'Peter Parker', 'number': '(212) 555-1212'}
{'id': 1, 'name': 'Peter Parker', 'number': '(917) 555-0101'}
{'id': 2, 'name': 'Claire Boyle', 'number': '+34987793816'}
{'id': 3, 'name': 'Sonia Winters', 'number': '7185550404'}
{'id': 4, 'name': 'Fallon Wilkes', 'number': '+12125550505'}

We can also name (or rename) columns, both as part of a `JOIN` or otherwise using the `AS` keyword:

In [43]:
with connection:
    rows = connection.execute(
        """
        SELECT contacts.id AS "Contact ID",
               phone_numbers.id AS "Phone Number ID",
               name,
               number
        FROM contacts
        JOIN phone_numbers ON contacts.id = phone_numbers.contact_id
        """
    )
    for row in rows:
        print(dict(row))

{'Contact ID': 1, 'Phone Number ID': 1, 'name': 'Peter Parker', 'number': '(212) 555-1212'}
{'Contact ID': 1, 'Phone Number ID': 2, 'name': 'Peter Parker', 'number': '(917) 555-0101'}
{'Contact ID': 2, 'Phone Number ID': 3, 'name': 'Claire Boyle', 'number': '+34987793816'}
{'Contact ID': 3, 'Phone Number ID': 4, 'name': 'Sonia Winters', 'number': '7185550404'}
{'Contact ID': 4, 'Phone Number ID': 5, 'name': 'Fallon Wilkes', 'number': '+12125550505'}

### 9.2.6 Aggregations
Sometimes we want to know how many contacts we have. We can do so for our entire table:

In [44]:
with connection:
    count, = connection.execute("SELECT COUNT(*) from contacts").fetchone()
    print(count)

6

Or for a query we ran:

In [45]:
with connection:
    count, = connection.execute(
        "SELECT COUNT(*) from contacts WHERE email LIKE '%.edu'"
    ).fetchone()
    print(count)

3

If we look back to our initial table, we had a single row for a contact, and then all of their phone numbers at once.

Our current data model is more generic -- we can have 0 or arbitrarily many phone numbers.

Sometimes we do indeed want to _group_ all of the phone numbers (or all of one column) by value -- for that we can use the `GROUP BY` clause to our `SELECT`, but there's something missing:

In [46]:
with connection:
    results = connection.execute(
        """
        SELECT name, number
        FROM contacts JOIN phone_numbers
        ON contacts.id = phone_numbers.contact_id
        GROUP BY contacts.id
        """
    )
    for row in results:
        print(dict(row))

{'name': 'Peter Parker', 'number': '(212) 555-1212'}
{'name': 'Claire Boyle', 'number': '+34987793816'}
{'name': 'Sonia Winters', 'number': '7185550404'}
{'name': 'Fallon Wilkes', 'number': '+12125550505'}

In the above, we do get only one row for each contact (so Peter appears only once), but we've lost his second phone number. We need to decide where to "put" his other phone number -- if we want them to appear in the same column, we can _combine_ all of the rows using the `group_concat` SQL function:

In [47]:
with connection:
    results = connection.execute(
        """
        SELECT name, group_concat(number, ', ') AS all_numbers
        FROM contacts JOIN phone_numbers
        ON contacts.id = phone_numbers.contact_id
        GROUP BY contacts.id
        """
    )
    for row in results:
        print(dict(row))

{'name': 'Peter Parker', 'all_numbers': '(212) 555-1212, (917) 555-0101'}
{'name': 'Claire Boyle', 'all_numbers': '+34987793816'}
{'name': 'Sonia Winters', 'all_numbers': '7185550404'}
{'name': 'Fallon Wilkes', 'all_numbers': '+12125550505'}

Notice that now we have every contact, with their numbers, and that both of Peter's numbers are present. If there were more than two numbers for a contact, we'd see all of them.

Again however, consider whether this is exactly the form that's easiest to use. Here's how we instead might do this aggregation in Python, producing a different data _structure_ but one that might be more useful depending on what we wish to do with it:

In [48]:
contacts = {}

with connection:
    results = connection.execute(
        """
        SELECT contacts.id AS id, name, number
        FROM contacts JOIN phone_numbers
        ON contacts.id = phone_numbers.contact_id
        """
    )
    for row in results:
        if row["id"] in contacts:
            contacts[row["id"]]["all_numbers"].append(row["number"])
        else:
            contact = contacts[row["id"]] = {
                k : row[k] for k in row.keys() if k != "number"
            }
            contact["all_numbers"] = [row["number"]]

print(list(contacts.values()))

[{'id': 1, 'name': 'Peter Parker', 'all_numbers': ['(212) 555-1212', '(917) 555-0101']}, {'id': 2, 'name': 'Claire Boyle', 'all_numbers': ['+34987793816']}, {'id': 3, 'name': 'Sonia Winters', 'all_numbers': ['7185550404']}, {'id': 4, 'name': 'Fallon Wilkes', 'all_numbers': ['+12125550505']}]

### 9.2.7 Join Types

In general, there are 5 types of joins in SQL.

![](https://docs.trifacta.com/download/attachments/160412683/JoinVennDiagram.png?version=1&modificationDate=1596167437085&api=v2)

_The above image does not include the "cross join" type._

* Inner join: only include results that match both the left and the right tables.
* Right outer join: return all rows from the right side of the join, and only the matched rows on the left side of the join
* Left outer join: return all the rows from the table on the left side of the join, and only the matched rows on the right side of the join
* Full outer join: return all rows from both sides, even if the join condition is not met
* Cross join: this is a cartesian product between two sides, and no join condition needed.

### 9.2.8 Using SQLite Directly
For a moment, let's explore using `SQLite` directly, without executing our SQL via Python.

Recall that we can get ourselves a Linux machine from [Google Cloud Shell here](https://shell.cloud.google.com/) (You may again need to switch accounts if you are logged in to multiple Google Accounts). Or, you can start a Terminal from Jupyter.

If using Google Cloud Shell, you can upload the `contacts.db` database from your computer to this Google Cloud Shell instance by clicking on the 3 dots menu and selecting "Upload File", and providing the `contacts.db` file. Once you've done so, it will be available in your cloud instance.

Try running `sqlite3 contacts.db` on the Cloud Shell instance or in the Terminal -- you're taken into a _SQL REPL_ where you can directly type SQL commands. Here, you should know that SQL terminates queries with the `;` character, so until you type it, `sqlite` will wait for the end of your query. (From Python, it is implicitly added to the end of any call to `.execute`).

```console
$ sqlite3 contacts.db
```
```sql
SQLite version 3.36.0 2021-06-18 18:58:49
Enter ".help" for usage hints.
sqlite> SELECT * FROM contacts;
1|Peter Parker|peter@example.edu
2|Claire Boyle|claireb@example.com
3|Sonia Winters|swinters@example.edu
4|Fallon Wilkes|fallon@example.edu
sqlite>
```

## 9.3 Other Databases
In the above, we've used a database known as [sqlite](https://sqlite.org/index.html) -- a database which is both extremely common, available in the [Python standard library](https://docs.python.org/3/library/sqlite3.html), extrememly easy to set up, and nonetheless extremely powerful. `sqlite` stores the data we've put in it in a single file we've seen above.

Whilst each database will have a slightly different _dialect_ of SQL (meaning it will vary slightly), you will likely find more commonalities between SQL dialects than differences, certainly amongst queries like `SELECT`ing data for analysis, so porting your knowledge to a new relational database is usually relatively straightforward. Nevertheless, holding the nuances or small differences between each in your head can be challenging, so it's OK to just re-learn the differences when presented with a different database engine.

Three particular databases worth mentioning because of their ubiquity are:

* [PostgreSQL](https://www.postgresql.org/) -- an extremely common advanced, open source relational database
* [MySQL](https://www.mysql.com/) -- another similar open source relational database
* [Google BigQuery](https://cloud.google.com/bigquery) -- technically not a database, moreso a data warehouse with a SQL query engine on top -- meaning a company you work for may store lots of their data somewhere within Google Cloud and then make you be able to run similar queries to the above in order to extract data from this warehouse

You can try out BigQuery with the [public datasets](https://cloud.google.com/bigquery/public-data) that Google has made available. Specifically, here's one for [pubic PyPI download statistics](https://console.cloud.google.com/bigquery?p=bigquery-public-data&d=pypi&page=dataset) (where all the Python packages are stored; here are some [docs](https://packaging.python.org/en/latest/guides/analyzing-pypi-package-downloads/) too).

There are also databases which are known as non-relational, whose structure does not necessarily deal with entities or tables that are related to other entities and joins between them. If you are interested in learning more about databases more broadly, you may find the [Seven Databases in Seven Days book](https://www.amazon.com/Seven-Databases-Weeks-Modern-Movement/dp/1934356921) interesting.

## 9.4 Review of `SQL` Clauses and Keywords

_(not exhaustive)_

* `CREATE` creates a database object, e.g. a table.
* `INSERT` adds rows of data to a table.
* `SELECT` retrieves data from one or more tables. This does not alter the databaes or change data.
* `FROM` indicates which table to use for the query.
* `WHERE` identifies the rows a query should operate on (often used for filtering data when querying).
* `JOIN` specifies how to combine and assemble data from multiple tables. Used with `ON` to establish relationship.
* `GROUP BY` organizes output from a `SELECT` statement.
* `ORDER BY` sorts the output from a query with `ASC` (default) and `DESC` on a certain column.
* `AS` casts a column, table, or sub-query to a user-defined variable name.
* `LIKE` is an operator for pattern matching comparison (often used when filtering data when querying).
* `LIMIT` places an upper bound on the number of rows returned by an entire `SELECT` query.

## 9.5 Appendix

* Documentation of built-in SQLite functions:
    * [Core](https://www.sqlite.org/lang_corefunc.html) 
    * [Date & Time](https://www.sqlite.org/lang_datefunc.html)
    * [Aggregate functions](https://www.sqlite.org/lang_aggfunc.html)
    * [Window functions](https://www.sqlite.org/windowfunctions.html)
    * [Math functions](https://www.sqlite.org/lang_mathfunc.html)
    * [JSON functions](https://www.sqlite.org/json1.html)
* Extra learning resources:
    * Khan Academy's [Intro to SQL: Querying and managing data](https://www.khanacademy.org/computing/computer-programming/sql)
    * [Study guide](https://learn.saylor.org/mod/book/view.php?id=30449&chapterid=6290) from saylor.org academy's Introduction to Modern Database Systems
* Extra practice resources:
    * Guided [SQL practice](https://www.sql-practice.com/)
    * Kaggle has a [tutorial with SQL and BigQuery](https://www.kaggle.com/learn/intro-to-sql), all in Python.
    * [Learn SQL in stages](https://sqlzoo.net/wiki/SQL_Tutorial)
* Visualize a SQLite database with this [free web-based application](https://inloop.github.io/sqlite-viewer/#) or this [free desktop-based application](https://sqlitebrowser.org/).

## 9.6 Final Project Tips/Hints
* The final project will require familiarity with the `WITH <name> AS` and `WITH RECURSIVE <name> AS` expressions in SQL. This is a [good resource](https://blog.expensify.com/2015/09/25/the-simplest-sqlite-common-table-expression-tutorial/) with a lot of examples to help get familiar.
    * tip: there are quite a few examples using `UNION ALL` - this will help "flatten" tables that have common columns (e.g. fare amount, pickup dates, etc) into a singular shared column (for example, taxi fares and uber fares are in one column)
    * tip: look at the example query that starts with `WITH RECURSIVE dates(x) AS` for help with the 6th query needed in the final project
* This [Stack Overflow post](https://stackoverflow.com/questions/1123576/how-to-find-nth-percentile-with-sqlite) will be helpful when crafting queries for figuring out percentiles/quantiles (also in the final project)
* This [Stack Overflow post](https://stackoverflow.com/questions/51441099/group-timestamp-by-hour-sqlite) will be helpful for grouping results by timeframe, e.g. by hour, day (also in the final project)